_site
.sass-cache
.jekyll-metadata
.jekyll-cache

.DS_Store
Thumbs.db
*.swp
*.swo
*.bak
*.tmp
*.log
*.orig
*.swp
*.swo
*.sublime-workspace
*.sublime-project
*.vscode
*.idea
*.vscode-test
*.DS_Store
*.vscode-test
*.vscode-test-*