<div class="hero h-100 container-fluid">
	<div class="row h-100">
		<div class="col-12">
			<div class="container">
				<div class="d-flex row">
					<h1 class="flex-shrink-0 mr-4">Paper Lee</h1>
					<ul id="links" class="flex-shrink-1 d-flex align-items-center">
						<li class="link">
							<a id="link-cv" href="{{ '/assets/raw/cv.pdf' | relative_url }}" role="button" target="_blank"></a>
						</li>
						<li class="link">
							<a id="link-mail" href="mailto:paper.li@gmail.com" role="button" target="_blank"></a>
						</li>
						<li class="link">
							<a id="link-twitter" href="https://twitter.com/@paperli" alt="@paperli" title="@paperli" role="button" target="_blank"></a>
						</li>
						<li class="link">
							<a id="link-linkedin" href="http://www.linkedin.com/in/paperli" alt="LinkedIn" title="LinkedIn" role="button" target="_blank"></a>
						</li>
						<li class="link">
							<a id="link-blog" href="http://paperworkstud.io/blog/" alt="Blog" title="Blog" role="button" target="_blank"></a>
						</li>
					</ul>
				</div>
				<div class="row personal-info d-flex align-items-center">
					<div class="portrait"></div>
					<ul class="description">
						<li>I do USER INTERFACE design</li>
						<li>I love TECH ♥ ART</li>
						<li>I write .HTML</li>
					</ul>
				</div>
			</div>
			
		</div>
		
	</div>
</div>