<div class="hero" id="hero">
	<div class="cover-letter-box">
		<div id="cover-letter" class="container">
			<div class="row mb-3 mt-4 ml-0 name-box">
				<h1 class="flex-shrink-0 mr-4">Paper Lee</h1>
				<ul id="links" class="flex-shrink-1 d-none d-md-flex align-items-center">
					<li class="link">
						<a id="link-mail" href="mailto:paper.li@gmail.com" alt="paper.li@gmail.com" title="paper.li@gmail.com" role="button" target="_blank"></a>
					</li>
					<li class="link">
						<a id="link-twitter" href="https://twitter.com/@paperli" alt="@paperli" title="@paperli" role="button" target="_blank"></a>
					</li>
					<li class="link">
						<a id="link-linkedin" href="http://www.linkedin.com/in/paperli" alt="LinkedIn" title="LinkedIn" role="button" target="_blank"></a>
					</li>
					<li class="link">
						<a id="link-blog" href="http://paperworkstud.io/blog/" alt="Blog" title="Blog" role="button" target="_blank"></a>
					</li>
					<li class="link">
						<a id="link-cv" href="{{ '/assets/raw/cv.pdf' | relative_url }}" alt="CV" title="CV" role="button" target="_blank"></a>
					</li>
				</ul>
			</div>
			<div class="row personal-info d-flex flex-column ml-0 flex-grow-1">
				<ul class="description d-none d-lg-block">
					<li>I do USER INTERFACE design</li>
					<li>I love TECH ♥ ART</li>
					<li>I write .HTML</li>
				</ul>
				<div class="arkit-badge-box flex-grow-1 d-flex d-lg-none">
					<a href="{{ '/assets/models/vr/vr_playground_ar.usdz' | relative_url }}" rel="ar">
						<img src="{{ '/assets/images/arkit_badge.png' | relative_url }}" alt="ARKit">
					</a>
				</div>
				<div class="short d-flex d-lg-none justify-content-center"><span class="align-self-end mb-3">UI | TECH+ART | .HTML | XR</span></div>
			</div>
		</div>
	</div>
</div>

<script type="module">
	import * as THREE from "{{ '/assets/js/threejs/build/three.module.js' | relative_url }}";
	import { OrbitControls } from "{{ '/assets/js/threejs/examples/jsm/controls/OrbitControls.js' }}";
	import { GLTFLoader } from "{{ '/assets/js/threejs/examples/jsm/loaders/GLTFLoader.js' }}";

	var container, stats, controls;
	var camera, scene, renderer;
	var mouse = new THREE.Vector2( 0, 0 );
	var cameraOrbitAngle = 90;
	const BACKGROUND_COLOR = 0x2A0F10;
	const FOG_NEAR = 6;
	const FOG_FAR = 16;
	const FOG_COLOR = BACKGROUND_COLOR;
	const CAMERA_ORBIT_RADIUS = 7.8;
	const CAMERA_TRAVEL_SPEED = 0.1; // 1 degree per update
	const CAMERA_LOOK_AT = new THREE.Vector3(-1.187, 2.188, -1);
	const CAMERA_TRAVEL_RANGE = 10; // in degree

	init();
	animate();

	function init() {
		container = document.createElement('div');
		var hero = document.getElementById('hero');
		hero.appendChild(container);

		camera = new THREE.PerspectiveCamera( 45, hero.offsetWidth / hero.offsetHeight, 0.25, 20);
		camera.position.set(0, 4.255, CAMERA_ORBIT_RADIUS);
		//camera.rotation.set(-0.259, 0.146, 0.039);
		camera.lookAt(CAMERA_LOOK_AT);

		scene = new THREE.Scene();
		scene.background = new THREE.Color(BACKGROUND_COLOR);
		//scene.fog = new THREE.Fog(FOG_COLOR, FOG_NEAR, FOG_FAR);
		//scene.fog = new THREE.FogExp2(FOG_COLOR, 0.08);

		var loader = new GLTFLoader().setPath("{{ '/assets/models/vr/' | relative_url }}");
		loader.load('vr_playground.gltf', function(gltf) {
			// load successful
			var light_count = 0;
			gltf.scene.traverse(function(child) {
				if (child.isLight) {
					// reduce lights' intensity
					//child.visible = false;
					child.intensity = 1;
					light_count++;
					if (light_count == 2) {
						// oly the 2nd light casts shadow
						child.castShadow = true;
					}
					
				} else if (child.isMesh) {
					//console.log("current node: " + child.name);
					// Only stage receives shadow but don't cast shadow
					// TODO: Only headset casts shadow? To reduce performance impact
					child.receiveShadow = (child.name == "Stage") ? true : false;
					child.castShadow = (child.name == "Stage") ? false : true;
				}
			});
			scene.add(gltf.scene);
		});

		renderer = new THREE.WebGLRenderer( {antialias: true} );
		renderer.setPixelRatio(window.devicePixelRatio);
		renderer.setSize(hero.offsetWidth, hero.offsetHeight);
		renderer.gammaOutput = true;
		renderer.shadowMapEnabled = true;
		renderer.shadowMapType = THREE.PCFSoftShadowMap;
		container.appendChild(renderer.domElement);

		// Orbit controls
		/*controls = new OrbitControls( camera, renderer.domElement );
		controls.target.set( 0, - 0.2, - 0.2 );
		controls.update();*/

		// Disable window resizing to avoid weird stretching of canvas
		// TOFIX: handle window resizing
		window.addEventListener('resize', onWindowResize, false);
		window.addEventListener('orientationchange', onWindowResize, false);
		
		// For getting camera's transform
		//document.body.addEventListener('mouseup', onBodyClick, true);

		// Find camera looking at point
		/*var raycaster = new THREE.Raycaster();
		var cameraDirection = new THREE.Vector3();
		camera.getWorldDirection(cameraDirection);
		raycaster.set(camera.position, cameraDirection);
		
		var planeGeo = new THREE.PlaneGeometry( 50, 50, 2, 2 );
		var planeMaterial = new THREE.MeshBasicMaterial({color: 0xffffff});
		var plane = new THREE.Mesh( planeGeo, planeMaterial);
		plane.rotateX(-Math.PI / 2);
		scene.add(plane);

		var intersects = raycaster.intersectObject(plane);
		for (var i = 0; i < intersects.length; i++) {
			console.log(intersects[i].point);
		}*/
	}

	function onMouseMove(event) {
		mouse.x = ( event.clientX / window.innerWidth ) * 2 - 1;
		mouse.y = - ( event.clientY / window.innerHeight ) * 2 + 1;
	}

	function onTouchMove(event) {
		if (event.touches.length != 2) {
			return;
		}

		event.preventDefault();
		const touchCenter = new THREE.Vector2( (event.touches[0].clientX + event.touches[1].clientX) / 2, (event.touches[0].clientY + event.touches[1].clientY) / 2 );
		mouse.x = (touchCenter.x / window.innerWidth) * 2 - 1;
		mouse.y = - (touchCenter.y / window.innerHeight) * 2 + 1;

	}

	function onSingleTouchMove(event) {
		if (event.touches.length > 1) {
			return;
		}

		event.preventDefault();
		mouse.x = (event.touches[0].clientX / window.innerWidth) * 2 - 1;
		mouse.y = - (event.touches[0].clientY / window.innerHeight) * 2 + 1;
	}

	function onWindowResize() {
		var hero = document.getElementById('hero');
		// Below code will cause distortion on canvas
		camera.aspect = hero.offsetWidth / hero.offsetHeight;
		camera.updateProjectionMatrix();

		renderer.setSize(hero.offsetWidth, hero.offsetHeight);
		renderer.render(scene, camera);
	}

	function onBodyClick() {
		console.log("camera pos: " + camera.position.x + ", " + camera.position.y + ", " + camera.position.z);
		console.log("camera rot: " + camera.rotation.x + ", " + camera.rotation.y + ", " + camera.rotation.z);
		console.log("camera scale: " + camera.scale.x + ", " + camera.scale.y + ", " + camera.scale.z);
	}

	function animate() {
		requestAnimationFrame(animate);

		// orbit the camera
		const shallAngle = 90 + step(mouse.x, [-1, 1], [-CAMERA_TRAVEL_RANGE, CAMERA_TRAVEL_RANGE]);
		cameraOrbitAngle += (shallAngle - cameraOrbitAngle) * 0.1;
		camera.position.x = CAMERA_ORBIT_RADIUS * Math.cos(cameraOrbitAngle * Math.PI / 180);
		camera.position.z = CAMERA_ORBIT_RADIUS * Math.sin(cameraOrbitAngle* Math.PI / 180);
		camera.lookAt(CAMERA_LOOK_AT);

		renderer.render(scene, camera);
	}

	function step(value, input_range, output_range) {
		// input_range: [min, max] input
		// output_range: [min, max] output
		const o = output_range[0] + (value - input_range[0]) * (output_range[1] - output_range[0]) / (input_range[1] - input_range[0]);
		return Math.min( Math.max(o ,output_range[0]), output_range[1])
	}

	window.addEventListener('mousemove', onMouseMove, false);
	container.addEventListener('touchmove', onSingleTouchMove, false);
</script>
