---
# Only the main Sass file needs front matter (the dashes are enough)
---
$fa-font-path: "fonts/font-awesome/";
@import 'font-awesome';

$primary-text-color:#2B2D2D;

html, body {
	height:100%;
}

body {
	margin:0;
	padding:0;
	font-family: 'Taviraj', serif;
	font-size: 16px;
	color:$primary-text-color;
	background: #fff;
}

.hero h1 {
	font-family: 'Lobster Two', cursive;
	font-style: italic;
	font-size: 3rem;
}

h1{
	font-weight: 700;
	font-family: 'Playfair Display', serif;
	font-size: 2.75rem;
}

h2 {
	font-weight: 700;
	font-size: 2.25rem;
	font-family: 'Playfair Display', serif;
}

h3 {
	font-weight: 800;
	font-size: 1.4rem;
}

a {
	color:$primary-text-color;
	text-decoration:underline;
	transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
}

a:hover {
	color: #156b95;
	text-decoration: none;
}

a:visited {
	color:$primary-text-color;
	text-decoration:underline;
}

.navbar-brand {
	text-decoration: none;
	border:none;
	overflow: visible;
	text-align: center;
	margin:0;
	-webkit-transition: color 0.8s ease-out;
	-moz-transition: color 0.8s ease-out;
	-o-transition: color 0.8s ease-out;
	transition: color 0.8s ease-out;
}

.navbar-brand:hover {
	color:#15A5BE;
}

.navbar-brand > .brand {
	font-family: "Lobster Two", cursive;
	font-size: 48px;
	font-weight: 700;
	font-style: italic;
}

.navbar-brand > .tagline {
	font-size: 12px;
	font-weight: 500;
}

.tagline > span:not(:last-child)::after {
	font-family:"Font Awesome 5 Free";
	content: "\f621";
	font-weight:700;
	padding:0 8px 2px;
	display:inline-block;
	vertical-align:middle;
	line-height:normal;
	font-size:10px;
	color:rgba(0,0,0,0.2);
}

footer {
	padding: 0 0.5rem 1.5rem;
}

footer ul.divider > li {
	list-style: none;
	margin: 0 12px;
	font-size: 20px;
	color: rgba(0,0,0,0.2);
}

footer ul.divider {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 42px;
}

.copyright {
	font-family: "Montserrat", sans-serif;
	font-size: 0.8em;
	color: rgba(0, 0, 0, 0.48);
}

.hero {
	min-height:50%;
	position:relative;
	color: white;
}

#hero-background {
	width:100%;
	height:300px;
	position:absolute;
}

.hero-info {
	position:absolute;
}

.hero .cover-letter-box {
	position:absolute;
	z-index: 100;
	width:100%;
	height: 100%;
	pointer-events:none;
	user-select: none;
}

.hero .name-box {
	pointer-events:all;
}

.hero #cover-letter {
	height:100%;
	display:flex;
	flex-direction:column;
}

.arkit-badge-box>a {
	width:74px;
	height: 39px;
	pointer-events:all;
}

ul#links{
	margin:0;
}

ul#links>li{
	list-style:none;
}

.link>a {
	display:block;
	width:52px;
	height:52px;
	transition:transform 0.4s ease-in-out;
	transform: initial; 
}

.link>a:hover {
	transform: rotate(-10deg) translateY(-10px);
}

#link-cv {
	background:url("/assets/images/icon_cv.png") no-repeat center center;
	background-image: -webkit-image-set( url("/assets/images/icon_cv.png") 1x,
                    url("/assets/images/icon_cv_2x.png") 2x,
                    url("/assets/images/icon_cv_3x.png") 3x);
}

#link-mail {
	background:url("/assets/images/icon_mail.png") no-repeat center center;	
	background-image: -webkit-image-set( url("/assets/images/icon_mail.png") 1x,
                    url("/assets/images/icon_mail_2x.png") 2x,
                    url("/assets/images/icon_mail_3x.png") 3x);
}

#link-twitter {
	background:url("/assets/images/icon_twitter.png") no-repeat center center;
	background-image: -webkit-image-set( url("/assets/images/icon_twitter.png") 1x,
                    url("/assets/images/icon_twitter_2x.png") 2x,
                    url("/assets/images/icon_twitter_3x.png") 3x);
}

#link-linkedin {
	background:url("/assets/images/icon_linkedin.png") no-repeat center center;
	background-image: -webkit-image-set( url("/assets/images/icon_linkedin.png") 1x,
                    url("/assets/images/icon_linkedin_2x.png") 2x,
                    url("/assets/images/icon_linkedin_3x.png") 3x);
}

#link-blog {
	background:url("/assets/images/icon_blogger.png") no-repeat center center;
	background-image: -webkit-image-set( url("/assets/images/icon_blogger.png") 1x,
                    url("/assets/images/icon_blogger_2x.png") 2x,
                    url("/assets/images/icon_blogger_3x.png") 3x);
}

.portrait {
	background:url("/assets/images/portrait-color.png") no-repeat center center;
	background-size:100% auto;
	width:80px;
	height:80px;
}

ul.description{
	margin-left:0.75rem;
	margin-bottom:0;
	padding-left:0;
	list-style: none;
}

ul.description>li{
	list-style:none;
}

.gallery {
	overflow:hidden;
}

.gallery::after{
	width:100%;
	height:100%;
	background:url("/assets/images/ddd_1.jpg") no-repeat center center;
	background-size:cover;
}

.cases {
	margin-top:2rem;
}

.cases .card {
	border-radius: 0;
	border: none;
	padding: 0 1.25rem;
	margin-bottom: 2.4rem;
}

.cases .card-img-top {
	border-radius: 0.25rem;
	border: solid 0.5px rgba(128, 128, 128, 0.2);
}

.cases .card-body {
	padding: 0.75rem 0 1.25rem;
}

.cases .card-body p {
	margin-bottom: 13px;
}

.case-description {

}

.case-description-background {
	position:absolute;
	filter:blur(20px);
	top:0;
	left:0;
	background-color:black;
	width:100%;
	height:100%;
}

.case-background {
	background-position:center center;
	background-size:cover;
	background-repeat:no-repeat;
	//filter:blur(20px);
}

.case-background-overlay {
	background-color:rgba(0,0,0,0.8);
}

.case-image {
	background-position:center center;
	background-repeat: no-repeat;
	background-size:cover;
}

// test
.case-gallery {
	overflow:hidden;
}

.pure {
	color: #333;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.pure h1 {
	font-weight:800;
	font-size:3.6rem;
	width:100%;
	margin-bottom:2rem;
}

.pure h2 {
	font-weight:600;
	font-size:2.4rem;
	width: 100%;
	color:#666;
	margin-top:1rem;
}

.pure ul {
	width: 100%;
	color: #333;
}

.pure p {
	color:#333;
	width:100%;
}

.box-404 {
	text-align:center;
}

article {
	padding: 1.5em 1em;
}

article.post {
	max-width: 44em;
}

article img {
	width: 100%;
	border-radius: 4px;
}

article .post-title {
	margin-bottom: 0.4em;
}

.tags > .tag:not(:last-child)::after {
	font-family:"Font Awesome 5 Free";
	content: "\f621";
	font-weight:700;
	padding:0 8px 2px;
	display:inline-block;
	vertical-align:middle;
	line-height:normal;
	font-size:0.7rem;
	color:rgba(0,0,0,0.2);
}

.tag {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

@media (max-width: 767.98px) {

  h1{
	font-size: 2.75em;
  }
}