<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-12 h-20">col-md-8 col-sm-12</div>
        <div class="col-md-4 col-sm-12 h-20">col-md-4 col-sm-12</div>
      </div>
    </div>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
