---
layout: default
---

{%- include header-3d.html -%}
<div class="container cases">
  <div class="row">
    <div class="bricklayer col-12">
    {% for post in site.posts %}
      <div class="card" onclick="window.location = '{{ post.url }}';" data-tilt data-tilt-perspective="1000">
        <img class="card-img-top" src="{{ post.images[0] | relative_url }}" alt="{{ post.title }}">
        <div class="card-body">
          <h2 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.excerpt }}</p>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</div>

