---
layout: default
---

{%- include header-3d.html -%}
{% comment %}
=======================
The following part extracts all the tags from your posts and sort tags, so that you do not need to manually collect your tags to a place.
=======================
{% endcomment %}
{% assign rawtags = "" %}
{% for post in site.posts %}
    {% assign ttags = post.tags | join:'|' | append: '|' %}
    {% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% comment %}
=======================
The following part removes dulpicated tags and invalid tags like blank tag.
=======================
{% endcomment %}
{% assign tags = "" %}
{% for tag in rawtags %}
    {% if tag != "" %}
        {% if tags == "" %}
            {% assign tags = tag | split:'|' %}
        {% endif %}
        {% unless tags contains tag %}
            {% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}            
        {% endunless %}
    {% endif %}
{% endfor %}
<div class="container cases">
  <div class="row tags-row">
    <div class="col">
      <div class="wrapper">
        <ul>
          {%- if page.tag-name != nil -%}
            <li>
              <button type="button" href="/" class="btn btn-light pill btn-tag active">{{ page.tag-name }} <i class="fas fa-times-circle icon-cross text-muted"></i></button>
            </li>
            <li class="divider-cell">
              <span class="fa-vertical-line"></span>
            </li>
          {%- endif -%}
          {%- for tag in tags -%}
            {% if page.tag-name == nil or tag != page.tag-name %}
              <li>
                <button type="button" onclick="return tagClicked(this,'{{ tag }}');" class="btn btn-light pill btn-tag">{{ tag }}</button>
              </li>
            {% endif %}
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    {% for tag in site.tags %}
      <li>{{ tag }}</li>
    {% endfor %}
  </div>
  <div class="row">
    <div class="bricklayer col-12">
    {% for post in site.posts %}
      {% if page.tag-name == nil or post.tags contains page.tag-name %}
        <div class="card" onclick="window.location = '{{ post.url }}';" data-tilt data-tilt-perspective="1000">
          <img class="card-img-top" src="{{ post.images[0] | relative_url }}" alt="{{ post.title }}">
          <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.excerpt }}</p>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    </div>
  </div>
</div>
<script type="text/javascript">
  // enable bricklayer
	var bricklayer = new Bricklayer(document.querySelector('.bricklayer'));
  var selectedTags = [];

  function tagClicked(button, tag) {
    toggleTag(tag);
    button.classList.toggle("active");
    window.location.hash = `#${encodeURIComponent(selectedTags.join(","))}`;
    return false;
  }

  function toggleTag(tag) {
    const index = selectedTags.indexOf(tag);
    if (index < 0) {
      selectedTags.push(tag);
    } else {
      selectedTags.splice(index, 1);
    }
  }

</script>